[submodule "dotfiles/nvim/.config/nvim"]
	path = dotfiles/nvim/.config/nvim
	url = git@github.com:NayanTheSpaceGuy/neovimrc.git
[submodule "dotlab-private"]
	path = dotlab-private
	url = git@github.com:NayanTheSpaceGuy/dotlab-private.git
[submodule "gitlab-submodules/dotlab-private"]
	path = gitlab-submodules/dotlab-private
	url = git@gitlab.com:spacehlship/dotlab-private.git
