[submodule "dotfiles/nvim/.config/nvim"]
	path = dotfiles/nvim/.config/nvim
	url = git@github.com:NayanTheSpaceGuy/neovimrc.git
[submodule "dotfiles-and-homelab-private"]
	path = dotfiles-and-homelab-private
	url = git@github.com:NayanTheSpaceGuy/dotfiles-and-homelab-private.git
