[submodule "dotfiles/nvim/.config/nvim"]
	path = dotfiles/nvim/.config/nvim
	url = git@github.com:NayanTheSpaceGuy/neovimrc.git
[submodule "dotfiles-personal"]
	path = dotfiles-personal
	url = git@github.com:NayanTheSpaceGuy/dotfiles-personal.git
